:root {
    /* --main-colour: #3333EE; */
    --main-colour: #2b5f2b;
    /* --main-colour: #FF0000; */
    --secondary-colour: #fffefb;
    /* --secondary-colour: #000000; */

    --colour-red: #FF0000;
    --colour-blue: #3333EE;
    --colour-green: #2b5f2b;

    --custom-colour: #000000;

    --navbar-button-radius: 25px;
    --navbar-button-height: 80px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--main-colour);
  background-color: var(--secondary-colour);
}

/* *::selection, *::-moz-selection, *::-webkit-selection {
    background: var(--main-colour);
    color: var(--secondary-colour);
} */

::selection {
    background: var(--main-colour);
    color: var(--secondary-colour);
}

.navbar {
    display:flex;
    justify-content:space-evenly;
    /* height: 7vh; */
    padding: 1em;
    padding-top: 0.5em;
    border-bottom: 0.1em solid var(--main-colour);
}

@media only screen and (max-width: 700px) {
    .navbar {
        gap: 10px;
    }
}

@media only screen and (min-width: 700px) {
    .navbar {
        gap: 0px;
    }
}


/* ================================================== link-outer ================================================== */

.link-outer {
    border: 0.1em solid var(--main-colour);
    background-color: var(--secondary-colour);
    border-radius: var(--navbar-button-radius);
    height:var(--navbar-button-height);
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
}

.link-outer.active {
    background-color: var(--main-colour);
}

@media only screen and (max-width: 700px) {
    .link-outer {
        margin: auto;
        width: 80vw;
        flex-direction: column;

        display: none;
    }

    .link-outer.active {
        display: flex;
    }
}

@media only screen and (min-width: 700px) {
    .link-outer {
        margin: 0px;
        width: 20vw;
        flex-direction: row;
    }
}

/* ================================================== link ================================================== */

.link {
    border: 0.1em solid var(--main-colour);
    background-color: var(--secondary-colour);
    color: var(--main-colour);
    
    height: 65px;

    display: flex;
    
    flex-direction: column-reverse;
    justify-content:center;
    align-items:flex-start;
}

/* nice values to initialize with */

@media only screen and (min-width: 700px) {
    .link {
        width: calc(20vw - 10px);
    }
}

@media only screen and (max-width: 700px) {
    .link {
        width: calc(80vw - 10px);
    }
}

.link:hover {
    background-color: var(--main-colour);
    color: var(--secondary-colour);
    cursor: pointer;
}

.link.active {
    background-color: var(--main-colour);
    color: var(--secondary-colour);
    cursor: pointer;
}

/* ================================================== link-text ================================================== */

.link-text {
    text-align:left;
    text-decoration:none;
    font-weight:bolder;
    font-size:x-large;
    /* width:100%; */

    /* padding-left: 0.4em; */
    padding-top: 1.2em;
}

/* ================================================== body-text ================================================== */

.body-text {
    text-align: justify;
    text-justify:newspaper;
}

@media screen and (min-width: 700px) {
    .body-text {
        margin-right: 32%;
        margin-left: 32%;
    }
}

@media screen and (max-width: 700px) {
    .body-text {
        margin-right: 10%;
        margin-left: 10%;
    }
}

.body-text h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
    font-size: xx-large;
    border-bottom: 0.07em dotted var(--main-colour);
    text-align: left;
}

.body-text h2 {
    font-weight: bolder;
    font-style:italic;
    text-decoration: underline;
    text-decoration-thickness: 0.06em;
    text-underline-offset: 0.15em;
    text-align: left;
}

.body-text p, li {
    font-weight: bold;

    list-style-type: square;
}

/* ================================================== clickables ================================================== */

.body-text a, a:visited, .link-general, .body-text button {
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    color: var(--main-colour);
}

.body-text a:hover, .link-general:hover, .body-text button:hover, .body-text button.selected {
    background: var(--main-colour);
    color: var(--secondary-colour);
}

.body-text button {
    border: 1px solid var(--main-colour);
    background: var(--secondary-colour);
    text-decoration: none;
}

.body-text input[type="text"] {
    font-weight: 600;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-style: italic;
    color: var(--main-colour);
    border: none;
    border-bottom: 1px solid var(--main-colour);
}

.body-text input[type="text"]:focus {
    /* border: none; */
    outline: none;
}

.body-text input[type="text"]::placeholder {
    /* border: none; */
    color: var(--main-colour);
    opacity: 0.7;
}

.logo {
    width: 50%;
    /* height: 100%; */

    fill: var(--main-colour);
}

a.logo-container {
    width: fit-content;
    display: flex;
    justify-content: center;
}

a.logo-container:hover {
    background: none;
}

.icons {
    width: auto;
    height: 10px;
    height:fit-content;
    display:flex;
    justify-content: space-evenly;
    padding: 1em;
    /* border: 0.1em solid var(--main-colour); */
}

.image {
    width: 80%;
    height: 80%;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    border: 0.11em solid var(--main-colour);
}

.image-small {
    width: 40%;
    height: 40%;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    border: 0.11em solid var(--main-colour);
}

.image-smaller {
    width: 20%;
    height: 20%;
    display: block;
    margin-left: 40%;
    margin-right: 40%;
    border: 0.11em solid var(--main-colour);
}

.map {
    width: 100%;
    height: 60vh;
    border: 0.2em solid var(--main-colour);
    display: block;
    margin: auto;
}

.map-container {
    display: flex;
    align-items: stretch;
    /* flex-direction: column; */
    padding: 7%;
    height:100%;
    /* border: 0.1em solid var(--main-colour); */
}

.colour-box {
    position:fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: var(--main-colour);
    border: none;
    cursor: pointer;
}